@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&family=Manrope:wght@500;600;700&display=swap");
/*CSS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

a,
li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

/*======================================*/
/*INICIO*/
/*======================================*/
body {
  max-width: 100%;
  margin: 0 auto;
}

#Inicio {
  background-image: url(../images/imginicio/IMG_4688.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#Inicio h1 {
  color: white !important;
  font-family: "Castoro", serif;
  font-size: 55px;
}

#Inicio h3 {
  color: white !important;
  font-family: "Castoro", serif;
  font-size: 55px;
}

#Inicio span {
  color: #8B0000;
  font-family: "Castoro", serif;
}

.content {
  position: absolute;
  top: 60%;
  left: 8%;
  transform: translateY(-50%);
}

/*======================================*/
/*HEADER*/
/*======================================*/
/*PROPIEDADES DEL HEADER*/
#header {
  height: 80px;
  width: 100%;
  background-color: #000021;
  backdrop-filter: blur(3px);
  position: sticky;
  top: 0;
  z-index: 100;
}

/*PROPIEDADES DEL NAV*/
#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#navBar img {
  width: 60px;
  margin-left: 15px;
}

#navBar ul li a {
  font-size: 20px;
  margin-left: 20px;
  color: white;
  transition: 0.5s;
}

#navBar ul {
  display: flex;
  height: 100%;
  align-items: flex-end;
  margin-right: 15px;
}

#navBar ul a:hover {
  color: #8B0000;
  font-size: 25px;
  transition: 0.5s;
}

#navBar ul a:active {
  color: red;
}

@media (max-width: 768px) {
  #header {
    height: 100%;
  }
  #navBar ul {
    display: flex;
    height: 100%;
    align-items: flex-end;
    flex-direction: column;
  }
}
/*======================================*/
/*ACERCA DE MI*/
/*======================================*/
#mainAcercaDeMi {
  background: linear-gradient(180deg, #000021 0%, rgba(0, 0, 33, 0) 100%);
  min-height: 100vh;
}

#AcercaDeMi {
  color: #000021;
  height: auto;
  width: 100%;
}

.row {
  justify-content: center;
  align-items: center;
  display: flex;
}

#AcercaDeMi span {
  color: #8B0000;
}

.divContainerAcercaDeMi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 80px;
}

div.divImg img {
  width: 500px;
  height: 500px;
  margin: 10px;
}

div.divParrafo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 100px 10px 100px 50px;
}

.divEstudiosHabilidades ol {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.divEstudiosHabilidades {
  margin: 10px;
  padding-left: 100px;
}

div.divTitulo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

div.divImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}

@media screen and (max-width: 768px) {
  .divContainerAcercaDeMi {
    flex-direction: column;
  }
  div.divImg {
    padding-left: 0;
  }
  div.divParrafo {
    padding: 10px;
  }
}
/*======================================*/
/*Mis Servicios*/
/*======================================*/
#mainMisServicios {
  background: linear-gradient(180deg, #000021 0%, rgba(0, 0, 33, 0) 100%);
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 20px;
}

#MisServicios {
  color: white;
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  padding: 20px; /* Agrega un espacio interno para mejorar la legibilidad */
}

.servicioscaja {
  border: 2px black solid;
  width: 350px; /* Ocupa el ancho completo del contenedor padre */
  max-width: 350px; /* Limita el ancho máximo para evitar que sea demasiado grande en pantallas grandes */
  height: 350px; /* Ajusta la altura automáticamente según el contenido */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #000021;
  margin: 10px;
}

.servicioscaja p {
  font-weight: 900;
  font-size: 16px;
}

.servicioscaja i {
  color: #8b0000;
  font-size: 50px;
}

.servicioscaja li {
  font-size: 14px;
}

.servicioscaja ul {
  display: grid;
}

.divConteinerServiciosCaja {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divContainerCards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 100px;
}

#carouselExample .carousel-control-next {
  justify-content: flex-end;
}

#carouselExample .carousel-control-prev {
  justify-content: flex-start;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 768px) {
  #MisServicios {
    padding: 10px; /* Reduzco el espacio interno */
  }
  #mainMisServicios {
    padding-bottom: 120px; /* Ajusta el valor según sea necesario para evitar superposiciones con el footer */
  }
  .divContainerCards {
    flex-direction: column; /* Cambio la dirección del flexbox a columna */
  }
}
/*======================================*/
/*Cursos*/
/*======================================*/
#mainCursos {
  background: linear-gradient(180deg, #000021 0%, rgba(0, 0, 33, 0) 100%);
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

#Cursos {
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  padding: 20px; /* Agrega un espacio interno para mejorar la legibilidad */
}

#Cursos h1 {
  color: #000021;
}

#Cursos a {
  color: #8b0000;
}

.divContainerRedirecContacto {
  display: flex;
  justify-content: center;
}

.divConteinerCursosImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#imgFamilia {
  height: 777px;
}

@media screen and (max-width: 768px) {
  #Cursos {
    padding: 10px; /* Reduzco el espacio interno */
  }
  .divConteinerCursosImg {
    padding: 10px; /* Agrego espacio interno para mejorar la legibilidad */
  }
  #imgFamilia {
    height: 500px; /* Ajusto la altura automáticamente según el contenido */
    width: 500px; /* Ajusto la altura automáticamente según el contenido */
  }
  #imgJubilacion {
    height: 500px; /* Ajusto la altura automáticamente según el contenido */
    width: 500px; /* Ajusto la altura automáticamente según el contenido */
  }
  #imgReales {
    height: 500px; /* Ajusto la altura automáticamente según el contenido */
    width: 500px; /* Ajusto la altura automáticamente según el contenido */
  }
}
/*======================================*/
/*Contacto*/
/*======================================*/
#mainContacto {
  background: linear-gradient(180deg, #000021 0%, rgba(0, 0, 33, 0) 100%);
  min-height: 100vh;
  margin-bottom: 10px;
}

#Contacto {
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divRedes {
  font-size: 60px;
}

.divRedes i {
  margin: 10px;
}

.h2TituloAyuda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, textarea {
  width: 250px;
}

form textarea {
  resize: none;
}

form button {
  width: 100px;
}

/*======================================*/
/*FOOTER*/
/*======================================*/
footer {
  background-color: #000021;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
